# Multiple Linear Regression- Car dataset

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

#Diabetes  #MLR

## Importing the dataset

In [2]:
dataset=pd.read_csv("CAR.csv")

In [3]:
dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
dataset.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

### Split the dataset into independent and Dependent variables

In [6]:
dataset.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [8]:
#Independent Variables
X=[['year', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner']]
#Dependent Variables
y=dataset[['selling_price']]

### Work with the catagorical data

In [10]:
#drop_first 
X=pd.get_dummies(dataset[['year',
                          'km_driven',
                          'fuel',
                          'seller_type',
                          'transmission',
                          'owner']],
                drop_first=True)

In [11]:
X.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,70000,0,0,0,1,1,0,1,0,0,0,0
1,2007,50000,0,0,0,1,1,0,1,0,0,0,0
2,2012,100000,1,0,0,0,1,0,1,0,0,0,0
3,2017,46000,0,0,0,1,1,0,1,0,0,0,0
4,2014,141000,1,0,0,0,1,0,1,0,1,0,0

## Splitting the dataset into the Training set and Test set
- Random State 20

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_rest,y_train,y_rest=train_test_split(X,y,
                                              test_size=.2,
                                              random_state=20)

In [13]:
X_test, X_val, y_test, y_val=train_test_split(X_rest,
                                             y_rest,
                                             test_size=.5,
                                             random_state=20)

## Training the Multiple Linear Regression model on the Training set

In [14]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train.values, y_train)

LinearRegression()

## Intercept and Coefficient

In [15]:
print("Coefficients", regressor.coef_)
print("Intercept", regressor.intercept_)

Coefficients [[ 3.62245575e+04 -8.31584195e-01  2.88702246e+05 -5.82076609e-11
   4.65464254e+04  2.64057958e+03 -6.04980455e+04  1.71882689e+05
  -8.64323880e+05 -3.50851884e+03 -4.04890692e+04  1.83178786e+05
  -2.83903020e+04]]
Intercept [-71683645.58006924]

In [16]:
X_train.columns

Index(['year', 'km_driven', 'fuel_Diesel', 'fuel_Electric', 'fuel_LPG',
       'fuel_Petrol', 'seller_type_Individual', 'seller_type_Trustmark Dealer',
       'transmission_Manual', 'owner_Fourth & Above Owner',
       'owner_Second Owner', 'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

## Predicting the Test set results

In [18]:
y_predval=regressor.predict(X_val.values)
y_validate=y_val.to_numpy()
np.hstack((y_predval,y_validate)).round

In [19]:
y_pred=regressor.predict(X_test.values)

### Calculate RMSE, R-Square

In [20]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print(f"R Squared: {r2_score(y_test,y_pred):.2f}")
print(f"MSE: {mean_squared_error(y_test,y_pred):.2f}")
print(f"RMSE: {math.sqrt(mean_squared_error(y_test,y_pred)):.2f}")

R Squared: 0.54
MSE: 154171100550.96
RMSE: 392646.28

## Validation case scenario:
#### 1. Predict how much will be the car selling price for a car of 
- year 2014 
- 70000 km driven 
- fuel type Diesel
- Seller type Dealer
- manual transmission
- first owner

** 465000 ** actual

In [21]:
X_test.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
2549,2018,26000,1,0,0,0,0,0,1,0,0,0,0
3500,2002,40000,0,0,0,1,1,0,1,1,0,0,0
1137,2013,71000,0,0,0,0,1,0,1,0,1,0,0
761,2019,8000,0,0,0,1,1,0,1,0,0,0,0
2516,2008,50000,0,0,0,1,1,0,1,0,0,0,0

In [27]:
regressor.predict([[2014,70000,1,0,1,0,0,0,0,0,0,0,1]])

array([[1521260.60681179]])